<footer id="footer" class="rn-footer-area footer-style-2 rn-section-gapTop section-separator">
	<div class="container pb--80 pb_sm--40 plr_sm--20">
		<div class="row">
			<div class="col-xl-6 col-12 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="logo-thumbnail">
					<a href="#"><img src={{ asset("/assets/images/logo/alex.png") }} alt="logo-image"></a>
                    <p>Développeur Web - Backend & Architecture Applicative</p>
				</div>
				<div class="social-icone-wrapper">
					<ul class="social-share d-flex liststyle">
						<li class="facebook">
							<a href="#">
								<i data-feather="linkedin"></i>
							</a>
						</li>
						<li class="instagram">
							<a href="#">
								<i data-feather="instagram"></i>
							</a>
						</li>
						<li class="linkedin">
							<a href="#">
								<i data-feather="twitter"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sl-6 col-12 mt_sm--20 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="menu-wrapper">
					<div class="menu-title">
						<h6>Portfolio</h6>
					</div>
					<ul class="menu-footer">
						<li>
							<a href="#">Accueil</a>
						</li>
						<li>
							<a href="#">A Propos</a>
						</li>
						<li>
							<a href="#">Compétences</a>
						</li>
						<li>
							<a href="#">Projets</a>
						</li>
						<li>
							<a href="#">Expérience</a>
						</li>
						<li>
							<a href="#">Me contacter</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright text-center ptb--40 section-separator">
		<p class="description">© 2026. Créer avec le thème 
			<a target="_blank" href="https://themeforest.net/user/PixcelsThemes">Pixcels Themes</a>
		</p>
	</div>
</footer>
