{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Bienvenue sur votre tableau de bord !</h1>
        <p>Utilisez le menu de gauche pour gérer vos projets, expériences, compétences et autres contenus.</p>
    </div>
{% endblock %}