{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<main class="rn-section-gap">
	<div id="particles-js"></div>

	<section id="experiences" class="rn-experience-area rn-section-gap">
		<div class="container">
			<div class="row">
				<article class="col-12">
					<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true" class="section-title text-center">
						<h2 class="title">Mes compétences</h2>
					</div>
				</article>
                <article class="row mt--10">
                    <!-- single skill -->
                    {% for domain in domains %}
                    <div class="col-12 col-lg-4 mb-4">
                        <div data-aos="fade-up" class="experience-style-two">
                            <div class="experience-left">
                                <h5 class="title">{{ domain.title }}</h5>
                                <div class="inner">
                                    <ul class="card-list">
                                        {% for competency in domain.competencies %}
                                            <li>{{ competency.title }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </article>
            </div>
        </div>
    </section>
</main>


{% endblock %}
